<div class="row" foundation>
  <div class="columns small-6 small-offset-6 right">

  </div>
</div>
<div class="row chart-of-accounts" foundation>
  <div class="column large-12 medium-12 small-12 foo-container">
    <div class="row add-share-buttons add-share-adjust">
      <div class="column medium-12 text-right">
            <span class="pointer" (click)="showAddBillingCompany()">
                <i class="icon ion-ios-plus-outline"></i>
                <span>BillingCompany</span>
            </span>

      </div>
    </div>
    <foo-table #fooTableDir="fooTable" class="bighalf-footable" *ngIf="hasbillingCompany" [data]="tableData" [options]="tableOptions" (onRowAction)="handleAction($event)"></foo-table>
  </div>

<div class="qount-off-canvas-menu">
    <div class="flyout expanded" [ngClass]="{'expanded':showFlyout}">
      <section class="flyout-placeholder">
        <div class="flyout-body flyout-shadow-effect">
          <div id="addBillingCompany" #addBillingCompany class="create-vendor">
            <form *ngIf="showFlyout" (ngSubmit)="submit($event)" [formGroup]="billingCompanyForm">
              <section class="form-section clearfix">
                <div class="row">
                  <div class="small-12 medium-12 columns">
                    <div class="form-section-left">
                      <header class="form-section-header">Basic Info</header>
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Id</label>
                        </div>
                        <div class="small-6 columns">
                          <input type="text" formControlName="name" placeholder="Id*"/>
                        </div>
                      </div>
					  
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Company_id</label>
                        </div>
                        <div class="small-6 columns">
                          <input type="text" formControlName="name" placeholder="Company_id*"/>
                        </div>
                      </div>
					  
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Created_by</label>
                        </div>
                        <div class="small-6 columns">
                          <input type="text" formControlName="name" placeholder="Created_by*"/>
                        </div>
                      </div>
					  
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Created_at</label>
                        </div>
                        <div class="small-6 columns">
                          <input type="text" formControlName="name" placeholder="Created_at*"/>
                        </div>
                      </div>
					  
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Last_updated_by</label>
                        </div>
                        <div class="small-6 columns">
                          <input type="text" formControlName="name" placeholder="Last_updated_by*"/>
                        </div>
                      </div>
					  
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Last_updated_at</label>
                        </div>
                        <div class="small-6 columns">
                          <input type="text" formControlName="name" placeholder="Last_updated_at*"/>
                        </div>
                      </div>
					  
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">Plan_id</label>
                        </div>
                        <div class="small-6 columns">
                          <input type="text" formControlName="name" placeholder="Plan_id*"/>
                        </div>
                      </div>
					  
                      <div class="row">
                        <div class="small-4 columns">
                          <label class="text-right">State</label>
                        </div>
                        <div class="small-6 columns">
                          <input type="text" formControlName="name" placeholder="State*"/>
                        </div>
                      </div>
					  
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 medium-12 columns">
                    <button class="button small float-right" [disabled]="!isValid(billingCompanyForm)" (click)="submit($event)">Save</button>
                  </div>
                </div>
              </section>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
